html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: black;
}

header {
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 2px whitesmoke;
}

a {
  text-decoration: none;
  color: cyan;
}

a:visited {
  text-decoration: underline;
}