html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

li a:hover {
  border-bottom: 2px solid white;
  padding-bottom: 0.2rem;
}

li a:focus {
  outline: none;
  border-bottom: 2px solid white;
  padding-bottom: 0.2rem;
}

li a:active {
  transform: scale(0.97);
}
